# Exclui arquivos de outras linguagens geradas automaticamente pelo Flutter
android/** linguist-vendored
ios/** linguist-vendored
build/** linguist-vendored

# Considera somente arquivos Dart para a contagem de linguagem
*.dart linguist-language=Dart
*.swift linguist-language=Swift